[submodule "Assets/Environment/UnityHDRPSimpleWater"]
	path = Assets/Environment/UnityHDRPSimpleWater
	url = https://github.com/flamacore/UnityHDRPSimpleWater
[submodule "Assets/Scripts/protobuf"]
	path = Assets/Scripts/protobuf
	url = git@github.com:labust/labustsim-proto.git
	branch = csharp
