[submodule "Assets/Environment/UnityHDRPSimpleWater"]
	path = Environment/UnityHDRPSimpleWater
	url = https://github.com/flamacore/UnityHDRPSimpleWater
[submodule "Assets/Scripts/protobuf"]
	path = Scripts/protobuf
	url = git@github.com:MARUSimulator/marus-proto.git
	branch = csharp
[submodule "Scripts/Sensors/marus-sensors-grpc"]
	path = Scripts/Sensors/marus-sensors-grpc
	url = git@github.com:MARUSimulator/marus-sensors-grpc.git
[submodule "Scripts/Sensors/marus-sensors"]
	path = Scripts/Sensors/marus-sensors
	url = git@github.com:MARUSimulator/marus-sensors.git

[submodule "Scripts/marus-communications-grpc"]
	path = Scripts/marus-communications-grpc
	url = git@github.com:MARUSimulator/marus-communications-grpc.git
[submodule "marus-data-generation"]
	path = marus-data-generation
	url = git@github.com:MARUSimulator/marus-data-generation.git
[submodule "Scripts/marus-data-generation"]
	path = Scripts/marus-data-generation
	url = git@github.com:MARUSimulator/marus-data-generation.git
