[submodule "Assets/Environment/UnityHDRPSimpleWater"]
	path = Environment/UnityHDRPSimpleWater
	url = https://github.com/flamacore/UnityHDRPSimpleWater
[submodule "Assets/Scripts/protobuf"]
	path = Scripts/protobuf
	url = git@github.com:MARUSimulator/marus-proto.git
	branch = csharp
[submodule "Scripts/Sensors/marus-sensors-grpc"]
	path = Scripts/Sensors/marus-sensors-grpc
	url = git@github.com:MARUSimulator/marus-sensors-grpc.git
